.flex{
  display:flex;
}
.justify-center{
  justify-content: center;
}
.space-between{
  justify-content:space-between;
}
.space-around{
  justify-content: space-around;
}
.align-center{
  align-items: center;
}
.direction-column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap:wrap;
}
li{
  list-style-type:none;
}
ul{
  padding:0;
  margin:0;
}
input,button{
  outline:none;
  -webkit-tap-highlight-color: none;
  border:none;
}
.router_link_keydown{
  &:active{
    color:rgba(81,81,81,0.8);
  }
  &:active{
    background-color:#eeeeee;
  }
}
body{
  color:#5f5f5f;
  div{
    &::-webkit-scrollbar-track-piece {
      background-color: rgba(0, 0, 0, 0);
      border-left: 1px solid rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar {
      width: 5px;
      height: 13px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
      background-clip: padding-box;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      min-height: 28px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
}

button{
  background-color:transparent;
  outline:none;
}
.button{
  background-color:#2491f5;
  text-align:center;
  color:#fff;
  font-size:36px;/*px*/
  display:flex;
  justify-content: center;
  align-items: center;
}
.button_large{
  width:500px;
  height:100px;
}
.center{
  text-align:center;
}
.touch_active{
  &:active{
    background-color:#eeeeee!important;
  }
}

